* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #F4A460, #FFDEAD);
    color: #333;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #D2691E, #F4A460);
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

header h1 {
    color: white;
    font-size: 2.5em;
    margin-right: 20px;
}

nav {
    display: flex;
    flex-direction: row;
}

nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s, color 0.3s;
    font-size: 1.2em;
}

nav button:hover {
    transform: scale(1.1);
    color: #D2691E;
}

nav img {
    width: 5vw;
    height: 5vw;
    margin: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
    height: 150px;
    object-fit: cover;
}

footer {
    background-color: #D2691E;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.janela {
    background-color: #e0f5f7;
    font-family: 'Verdana', sans-serif;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.oculto {
    display: none;
}

button {
    background-color: #D2691E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.1em;
}

button:hover {
    background-color: #D2691E;
}

footer h2 {
    margin: 10px 0;
}

.modal h2 {
    margin-bottom: 20px;
}

.modal button {
    background-color: #D2691E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
}
